.compose-mode .vc_mk_imagebox_item {
	min-height: 0 !important;
}

.compose-mode .slide-style .vc_mk_imagebox_item {
	position: absolute !important;
}

.compose-mode .mk-imagebox.column-style > div > .vc_element {
	transform: none !important;
}

/* Disable image box item sorting for now */
.compose-mode .vc_mk_imagebox_item .vc_element-move {
	pointer-events: none;
}

.compose-mode .vc_mk_imagebox_item .vc_element-move .vc_btn-content {
	padding-left: 10px !important; 
}

.compose-mode .vc_mk_imagebox_item .vc_element-move i {
	display: none;
}

/* Columns */
.compose-mode .mk-imagebox .vc_mk_imagebox_item {
	float: left;
}
.compose-mode .mk-imagebox .one-column > .vc_mk_imagebox_item  {
	width: 100% !important;
}

.compose-mode .mk-imagebox .two-column > .vc_mk_imagebox_item  {
	width: 49.96% !important;
}

.compose-mode .mk-imagebox .three-column > .vc_mk_imagebox_item {
	width: 33.31% !important;
}

.compose-mode .mk-imagebox .four-column > .vc_mk_imagebox_item  {
	width: 24.96% !important;
}

.compose-mode .mk-imagebox .five-column > .vc_mk_imagebox_item  {
	width: 19.96% !important;
}

.compose-mode .mk-imagebox .six-column > .vc_mk_imagebox_item  {
	width: 16.6% !important;
}

.compose-mode .column-style .mk-imagebox-item {
	width: 100%;
}

.compose-mode .mk-imagebox .two-column div:nth-of-type(2n+3),
.compose-mode .mk-imagebox .three-column div:nth-of-type(3n+4),
.compose-mode .mk-imagebox .four-column div:nth-of-type(4n+5),
.compose-mode .mk-imagebox .five-column div:nth-of-type(5n+6),
.compose-mode .mk-imagebox .six-column div:nth-of-type(6n+7) {
	clear: both;
}

@media handheld, only screen and (max-width: 960px) {
	.compose-mode .mk-imagebox .two-column > .vc_mk_imagebox_item,
	.compose-mode .mk-imagebox .three-column > .vc_mk_imagebox_item,
	.compose-mode .mk-imagebox .four-column > .vc_mk_imagebox_item,
	.compose-mode .mk-imagebox .five-column > .vc_mk_imagebox_item,
	.compose-mode .mk-imagebox .six-column > .vc_mk_imagebox_item {
		width: 50% !important;
		margin-bottom: 20px;
	}
	
	/* Discard previous row logic */
	.compose-mode .mk-imagebox .two-column div:nth-of-type(2n+3),
	.compose-mode .mk-imagebox .three-column div:nth-of-type(3n+4),
	.compose-mode .mk-imagebox .four-column div:nth-of-type(4n+5),
	.compose-mode .mk-imagebox .five-column div:nth-of-type(5n+6),
	.compose-mode .mk-imagebox .six-column div:nth-of-type(6n+7) {
		clear: none;
	}
	
	/* Assign logic for 2 columns based rows, independently from user setting which we treat as desktop only */
	.compose-mode .mk-imagebox .three-column div:nth-of-type(2n+3),
	.compose-mode .mk-imagebox .four-column div:nth-of-type(2n+3),
	.compose-mode .mk-imagebox .five-column div:nth-of-type(2n+3),
	.compose-mode .mk-imagebox .six-column div:nth-of-type(2n+3) {
		clear: both;
	}
	
}

@media handheld, only screen and (max-width: 540px) {
	.compose-mode .mk-imagebox .vc_element-container > .vc_mk_imagebox_item {
		width: 100% !important;
	}
}
