/* ============================================================================
   BUTTON
   ========================================================================= */
.mkhb-button-el {
	display: block;
	width: auto;
	line-height: normal;
}

.mkhb-button-el__link {
	background-color: rgba(77,208,225,1);
	border-radius: 0;
	border-width: 0;
	border-color: rgba(129,212,250,1);
	color: #ffffff;
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	font-style: normal;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 15px 20px 15px 20px;
	text-align: center;
	transition: all .2s ease-in-out;
	width: 150px;
}

.mkhb-button-el__link:hover {
	background-color: rgba(216,241,244,1);
	color: rgba(77,208,225,1);
}
