// Fix devices icons misalignment.
.devices button {
	vertical-align: top;
}

// Fix hover cursor to default for labels.
.ui-dialog-content {
	overflow-x: hidden;
	
	label {
		cursor: default;
	}
	.customize-control-mk-radio,
	.customize-control-mk-checkbox {
		label {
		 	cursor: pointer;
			
			.customize-control-title {
				cursor: default;
			}
		}
	}
}