<!DOCTYPE html>
<html>
<head>
	<title>Column Base Structures</title>
</head>
<body>
	<!-- Opening of Row (After hb-row class) -->
	<div class="hb-container">

		COLUMN 1 - MIXED ELEMENTS
		<div class="hb-col-md-4 hb-col-align__bottom " id="cj3nxskwg0006345n5z6zjy3x">
			<div class="hb-col-container ">
				ELEMENT 1 - WITHOUT MAKE INLINE (BLOCK)
				<div class="hb-inline-container" style="min-height: 0px;">
					<div class="hb-inline-container__left" style="line-height: 29px;"></div>
					<div class="hb-inline-container__center" style="line-height: 29px;"></div>
					<div class="hb-inline-container__right" style="line-height: 29px;">
						ELEMENT 1 - WITH MAKE INLINE + ALIGN RIGHT
						ELEMENT 2 - WITH MAKE INLINE + ALIGN RIGHT
					</div>
				</div>
			</div>
		</div>

		COLUMN 2 - NORMAL (WITHOUT MAKE INLINE AND VERTICAL ALIGN)
		<div class="hb-col-md-4 hb-col-align__top hb-col-align__no-elements" id="cj3nxskwg0007345n0uieo37v" style="line-height: 120px; height: 120px;">
			<div class="hb-col-container hb-col-container__no-elements">
				<div id="cj3o4mb2r000j345nb2yjcclw" class="hb-nav-container hb-menu-hover-style-1">
					ELEMENT 1 - WITHOUT MAKE INLINE
				</div>
			</div>
		</div>

		COLUMN 3 - WITHOUT MAKE INLINE, BUT VERTICAL ALIGN
		<div class="hb-col-md-4 hb-col-align__middle hb-col-align__no-elements" id="cj3o2l0p7000d345n6gkanp4s" style="line-height: 120px; height: 120px;">
			<div class="hb-col-container hb-col-container__no-elements">
				ELEMENT 1 - WITHOUT MAKE INLINE (BLOCK) + ALIGN RIGHT
				ELEMENT 2 - WITHOUT MAKE INLINE (BLOCK) + ALIGN RIGHT
			</div>
		</div>

	</div>
</body>
</html>